rect.nonogram-thumbnail {
    fill: white
}

rect.nonogram-header, rect.nonogram-side {
    fill: white
}

rect.nonogram-grid {
    fill: white
}

text.clues {
    text-anchor: end
}

text.solved-clues {
    text-decoration: line-through
}

line.grid {
    stroke: black;
    //stroke-width: 1
}

line.bold {
    //stroke-width: 2
}

rect.solved {
    //stroke: green;
    fill: gray
}
