rect.nonogram-thumbnail {
    fill: white
}

rect.nonogram-header, rect.nonogram-side {
    fill: white
}

rect.nonogram-grid {
    fill: white
}

g.header-clues text, g.side-clues text {
    text-anchor: end
}

text.solved-clues {
    text-decoration: line-through
}

g.grid-lines line {
    stroke: black;
    //stroke-width: 1
}

g.grid-lines line.bold {
    //stroke-width: 2
}

g.header-clues rect.solved, g.side-clues rect.solved {
    //stroke: green;
    fill: gray
}

g.box rect {
    // fill: red
}

g.space circle {
    // fill: blue
}
