*.pyc

# vim temporary
*.swp

*.log

# PyCharm
.idea/misc.xml
.idea/workspace.xml
.idea/scopes/

# virtualenv
.env/

# tests artifacts
.noseids
.tox/
.cache/
.pytest_cache/

# coverage artifacts
.coverage
htmlcov/

# build artifacts
*.egg-info/
*.eggs/
build/
dist/
