six >= 1.10.0
futures; python_version < '3.2'
tornado
svgwrite


# it's possible to run tests with simply `setup.py test`
# without cluttering your current virtualenv
# but sometimes it may be convenient to run them another way:

# manual invocation
tox
coverage
flake8

# via PyCharm's 'Run Configuration'
#nose
pytest >= 3.3

# to upload to PyPi
twine
