six >= 1.10.0
pqdict  # efficient priority dict
numpy; platform_python_implementation != 'PyPy'
# numpy's `__copy__` does not work on pypy, so simply skip it
# git+https://bitbucket.org/pypy/numpy.git; platform_python_implementation == 'PyPy'
futures; python_version < '3.2'

# https://github.com/tornadoweb/tornado/issues/2304
tornado < 5.0
svgwrite


# it's possible to run tests with simply `setup.py test`
# without cluttering your current virtualenv
# but sometimes it may be convenient to run them another way:

# manual invocation
tox
coverage
flake8
# pylint cannot be installed on PyPy3
# because of 'typed-ast' dependency (through 'astroid' dependency)
# https://github.com/PyCQA/astroid/blob/5cc50abb/astroid/__pkginfo__.py#L33
pylint ; platform_python_implementation != 'PyPy' or python_version < '3'

# via PyCharm's 'Run Configuration'
#nose
pytest >= 3.3

# to upload to PyPi
twine
